@charset "utf-8";
/* common */
#xoyo-top-navi-bar {
  position: relative;
  z-index: 999;
}

a:hover {
  text-decoration: none;
}

.bg {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.full-img img {
  display: block;
  width: 100%;
}

body {
  min-width: 1200px;
  background-color: #ebeff0;
}

.stage {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  overflow: hidden;
}

.wrap {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.part {
  position: relative;
  min-width: 1200px;
  background-size: 1920px auto;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
}

.t {
  text-indent: -9999em;
  overflow: hidden;
}

.btn-hover,
.navbar-list li a,
.mp-container .btn-fy,
.mp-select-list a,
.ani,
.swiper-cut-list li,
.news-list-container a,
.hd-item a,
.menu-item a,
.pic-item a,
.news-item a,
.sx-list li,
.mp-select-list a,
.news-item-first,
.yq-link-img,
.navbar-sub-btn,
.reg-sub-btn,
.sj-more {
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

.btn-hover:hover,
.navbar-list li a:hover,
.mp-select-list a:hover,
.sx-list li:hover {
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
  /*transform: translateY(-5px);-webkit-transform: translateY(-5px);-moz-transform: translateY(-5px);-ms-transform: translateY(-5px);-o-transform: translateY(-5px);*/
}

.news-list-container a:hover,
.menu-item a:hover,
.pic-item a:hover,
.news-item a:hover,
.hd-item a:hover,
.news-item-first:hover,
.mp-container .btn-fy:hover,
.yq-link-img:hover,
.sj-more:hover {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}

.sp,
.banner-wrap .swiper-pagination span {
  display: block;
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  background-size: 1000px auto;
}

.t-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.t-2 {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  white-space: pre-wrap;
}

.t-3 {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
  white-space: pre-wrap;
}

.video-container {
  top: 0;
  left: 50%;
  margin-left: -960px;
  width: 1920px;
  height: 1010px;
  pointer-events: none;
}

.video-container video {
  display: block;
  width: 100%;
  height: 100%;
}

/* ???? */
.btn-more {
  display: block;
  font-size: 0;
}

.btn-more span {
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
  line-height: 19px;
  font-size: 14px;
  color: #a5a5a5;
}

.btn-more .more-icon {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 18px;
  background-position: -167px -301px;
}

/* 导航 end */
.page-banner {
  width: 100%;
  /*height: 875px;*/
  height: 1230px;
  /* background-image: url('../images/part_1_bg_230601.jpg'); */
  /* background-image: url("../images/bg-all-1206.jpg"); */
  background-image: url("../images/bg-all.jpg");
  /*background-size: 1920px auto;*/
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

.shadow-wrap {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 485px;
  background-image: url("../images/page_shadow.png");
  background-position: top center;
  background-size: 1920px auto;
  pointer-events: none;
}

/* 新闻列表 */
.news-item,
.news-item a {
  color: #6d777c;
}

.news-item.red a {
  color: #d3543e;
}

.news-item.blue a {
  color: #56839d;
}

.news-item.yellow a {
  color: #bb833e;
}

/* 小标题 */
.hd-title {
  margin: 22px 0 0 2px;
  width: 107px;
  height: 25px;
}

.hd-hot .hd-title {
  background-position: -237px 0;
}

.hd-tj .hd-title {
  background-position: -237px -30px;
}

.hd-rz .hd-title {
  background-position: -237px -60px;
}

.hd-zy .hd-title {
  background-position: -237px -90px;
}

.hd-ts .hd-title {
  background-position: -237px -120px;
}

.hd-download .hd-title {
  background-position: -237px -150px;
}

.hd-sj .hd-title {
  background-position: -237px -180px;
}

.hd-hzhb .hd-title {
  background-position: -237px -210px;
}

.hd-lxkf .hd-title {
  background-position: -237px -240px;
}

.hd-news .hd-title {
  background-position: -237px -270px;
}

.hd-zq .hd-title {
  background-position: -237px -300px;
}

/* 二维码侧栏 */
.celan-container {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 999;
  margin: -140px 0 0 0;
  padding: 26px 0px 0 10px;
  box-sizing: border-box;
  width: 154px;
  height: 242px;
  background-image: url("../images/celan_bg_index.png");
}

.celan-container .code-name-text {
  margin: 0;
  line-height: 1;
  font-size: 16px;
  color: #778995;
}

.celan-container .swiper-container,
.celan-container .swiper-slide {
  width: 100%;
  height: 206px;
}

.celan-container .code-tips-text {
  position: relative;
  z-index: 1;
  margin: 6px 0 0;
  line-height: 1;
  font-size: 14px;
  color: #a2a8ad;
}

.celan-container .code-img {
  margin: 14px auto 0;
  padding: 2px;
  border: 1px solid #e1e4e6;
  width: 106px;
}

.celan-container .code-label {
  margin: 12px auto 0;
  display: block;
  height: 24px;
  line-height: 1;
  font-size: 14px;
  color: #9d876a;
}

.celan-container .swiper-pagination {
  bottom: 3px;
  left: 0;
  width: 100%;
}

.celan-container .swiper-pagination span {
  display: inline-block;
  margin: 0 4px;
  width: 8px;
  height: 8px;
  border-radius: 99px;
  background-color: #aeaeae;
}

.celan-container .swiper-pagination span.swiper-active-switch {
  width: 18px;
  background-color: #d3543e;
}

.cut-show-btn {
  top: 50%;
  right: 100%;
  margin-top: -32px;
  width: 25px;
  height: 64px;
  cursor: pointer;
  background-position: -30px -393px;
}

.cut-show-btn.on {
  background-position: 0 -393px;
}

.box-keywords {
  position: relative;
  width: 246px;
  height: 40px;
  margin-top: 6px;
  margin-right: 50px;
}
.box-keywords
.box-keywords-input {
  height: 40px;
  width: 246px;
  border: 1px solid #aaaaaa;
  padding: 0 93px 0 12px;
  outline: 0;
  box-sizing: border-box;
  color: #333;
  transition: all 0.15s;
  line-height: 40px;
}
.box-keywords-search-btn {
  position: absolute;
  top: 50%;
  right: 4px;
  width: 81px;
  height: 34px;
  transform: translateY(-50%);
  display: block;
  background: url("../images/btn.png") no-repeat;
  cursor: pointer;
  transition: all 0.15s;
}
.box-keywords-search-btn:hover {
  filter: brightness(1.1);
}
.box-keywords-input:focus-visible {
  border: 1px solid #da1c1c;
  caret-color: #da1c1c;
}
.box-keywords-input:focus + .box-keywords-search-btn {
  background: url("../images/selected_btn.png") no-repeat;
}
.box-keywords-input::-webkit-input-placeholder {
  color: #aaaaaa;
}
.box-keywords-input ::-moz-placeholder {
  color: #aaaaaa;
}
.box-keywords-input:-ms-input-placeholder {
  color: #aaaaaa;
}
.box-keywords-input:-moz-placeholder {
  color: #aaaaaa;
}
.no-data {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5f5f5f;
}
