@charset "utf-8";
.stage {
  /* background-image: url("../images/bg-all-1206.jpg"); */
  background-image: url("../images/bg-all.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* 首屏 */
.part-1 {
  height: 874px;
  /*height: 1230px;*/
}

.logo-icon {
  top: 10px;
  left: 10px;
  width: 270px;
}

.news-container {
  position: relative;
  /*top: 555px;*/
  top: 585px;
}

.game-download {
  width: 232px;
}

.btn-game-download {
  display: block;
  width: 232px;
  height: 78px;
  background-position: 0 0;
}

.btn-login-mobile {
  display: block;
  width: 232px;
  height: 78px;
  margin-top: 4px;
  background-position: 0 0;
}

.btn-image {
  width: 100%;
}

.btn-register {
  margin-top: 4px;
  width: 232px;
  height: 61px;
  background-position: 0 -167px;
}

.btn-recharge {
  margin-top: 3px;
  width: 232px;
  height: 61px;
  background-position: 0 -235px;
}

.part-1 .shade-img {
  bottom: 0;
  left: 50%;
  margin-left: -960px;
  width: 1920px;
  height: 306px;
}

.banner-wrap {
  margin-left: 15px;
  overflow: hidden;
  background-color: #fff;
}

.banner-wrap,
.banner-wrap .swiper-container {
  width: 528px;
  height: 291px;
}

.banner-wrap a,
.banner-wrap a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-wrap .swiper-pagination {
  bottom: 15px;
  left: 18px;
  z-index: 99;
}

.banner-wrap .swiper-pagination span {
  display: inline-block;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-position: -189px -302px;
}

.banner-wrap .swiper-pagination span.swiper-active-switch {
  background-position: -212px -302px;
}

.part-1 .news-wrap {
  margin-left: 15px;
  padding: 12px 16px 0;
  box-sizing: border-box;
  width: 410px;
  height: 291px;
  background-color: #fff;
  overflow: hidden;
}

.news-menu {
  width: 100%;
  height: 28px;
  border-bottom: 1px solid #e3e3e3;
}

.news-menu li {
  float: left;
  margin-right: 24px;
  width: 66px;
  height: 27px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.news-menu li.menu-4 {
  margin-right: 0;
}

.news-menu li:hover,
.news-menu li.active {
  border-color: #e03a3a;
}

.news-menu li a {
  margin: 0 auto;
  width: 52px;
  height: 18px;
}

.news-menu li.menu-1 a {
  background-position: -382px 0;
}

.news-menu li.menu-2 a {
  background-position: -382px -70px;
}

.news-menu li.menu-3 a {
  background-position: -382px -47px;
}

.news-menu li.menu-4 a {
  background-position: -382px -25px;
}

.news-menu li.menu-1:hover a,
.news-menu li.menu-1.active a {
  background-position: -462px 0;
}

.news-menu li.menu-2:hover a,
.news-menu li.menu-2.active a {
  background-position: -462px -70px;
}

.news-menu li.menu-3:hover a,
.news-menu li.menu-3.active a {
  background-position: -462px -47px;
}

.news-menu li.menu-4:hover a,
.news-menu li.menu-4.active a {
  background-position: -462px -25px;
}

.news-wrap .btn-more {
  top: 12px;
  right: 15px;
  cursor: pointer;
}

.news-list-container {
  /* margin-top: 7px; */
}

.news-list-item {
  display: none;
}

.news-item-first {
  display: block;
  margin-top: 12px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  line-height: 34px;
  background-color: #f5f7f7;
  font-size: 18px;
  color: #000;
}

.news-list-container ul .news-item {
  border-bottom: 1px dashed #ededed;
}

.news-list-container ul .news-item:last-child {
  border-bottom: none;
}

.news-label {
  margin-right: 10px;
}

.news-list-container ul .news-item a {
  display: block;
  width: 320px;
  line-height: 32px;
  font-size: 14px;
  color: #000;
}

.news-list-container .time-text {
  line-height: 32px;
  font-size: 14px;
}

.article-content {
  margin: 16px 14px 0;
}

/* part-2 */
.part-2 {
  /*height: 864px;*/
  height: 861px;
  z-index: 1;
  /*background-color: #ebeff0;*/
  background-color: transparent;
  /*background-image: url('../images/part_2_01.jpg');*/
  /* overflow: hidden; */
}

.hd-container {
  padding-top: 4px;
}

.hd-plank {
  padding: 0 13px;
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 32px;
}

.hd-hot {
  width: 776px;
  height: 354px;
}

.hd-tj {
  margin-left: 14px;
  width: 410px;
  height: 355px;
}

.hd-rz {
  width: 776px;
  height: 477px;
}

.hd-zy {
  margin-left: 14px;
  padding-right: 11px;
  width: 409px;
  height: 415px;
}

.hd-top {
  border-bottom: 1px solid #ebeff0;
  height: 58px;
}

.hd-plank .hd-menu {
  margin: 26px 0 0 35px;
  font-size: 0;
}

.hd-plank .hd-menu li {
  display: inline-block;
  margin-right: 16px;
  font-size: 16px;
  color: #b5b5b5;
  cursor: pointer;
}

.hd-plank .hd-menu li:hover,
.hd-plank .hd-menu li.active {
  color: #de1e1e;
}

.hd-hot .hd-list-container {
  margin-top: 16px;
}

.hd-hot .hd-list-item {
  display: none;
}

.hd-hot .hd-list-item li {
  margin-right: 5px;
  width: 182px;
}

.hd-list-item li a {
  display: block;
}

.hd-hot .hd-list-item li:last-child {
  margin-right: 0;
}

.hd-hot .hd-img {
  width: 182px;
  height: 182px;
  overflow: hidden;
}

.hd-hot .hd-img img {
  height: 100%;
  object-fit: cover;
}

.hd-hot .hd-inset {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/hd_inset.png");
  background-size: 100% 100%;
}

.hd-hot .hd-name-text {
  margin: 8px 0 0 0;
  line-height: 19px;
  font-size: 14px;
  color: #898989;
}

.hd-label {
  display: inline-block;
  margin-top: 5px;
  padding: 0 12px;
  box-sizing: border-box;
  line-height: 23px;
  border: 1px solid #de1e1e;
  font-size: 14px;
  color: #de1e1e;
}

.hd-tj .hd-item a {
  display: block;
  margin-top: 10px;
  width: 378px;
}

.hd-tj .hd-img {
  width: 100%;
  height: 188px;
}

.hd-tj .hd-name-text {
  margin-top: 18px;
  line-height: 1;
  font-size: 18px;
  color: #404040;
}

.hd-tj .hd-msg-text {
  margin-top: 6px;
  line-height: 19px;
  font-size: 14px;
  color: #ababab;
}

.hd-rz .hd-list {
  margin-top: 18px;
  height: 387px;
  overflow: hidden;
}

.hd-rz .hd-item a {
  display: block;
  width: 100%;
  height: 100%;
}

.hd-rz .hd-item a img {
  height: 100%;
  object-fit: cover;
}

.hd-rz .hd-item.item-1 {
  width: 285px;
  height: 387px;
  overflow: hidden;
}

.hd-rz .hd-item {
  margin: 0 6px 6px 0;
  width: 148px;
  height: 191px;
  overflow: hidden;
  background-color: #ecf1ed;
}

.hd-rz .hd-item.item-4,
.hd-rz .hd-item.item-7 {
  margin-right: 0;
}

.hd-plank .btn-more {
  margin-top: 25px;
}

.hd-zy .hd-list {
  margin-top: 12px;
}

.hd-zy .hd-item {
  margin-bottom: 7px;
}

.hd-zy .hd-item a {
  display: block;
  cursor: pointer;
}

.hd-zy .hd-item.item-1,
.hd-zy .hd-item.item-3 {
  margin-right: 7px;
}

/* part-3 */
.part-3 {
  /*height: 1036px;*/
  height: 1000px;
  background-image: url("../images/part_3_01.png");
  background-size: 100% auto;
  background-position: top center;
}

.mp-icons {
  display: block;
  background-image: url("../images/mp_icons.png");
  background-repeat: no-repeat;
  background-size: 1200px auto;
}

.mp-icons-large {
}

.title-mp {
  top: 107px;
  width: 1200px;
  height: 70px;
  background-position: 0 0;
}

.mp-container {
  top: 191px;
  width: 100%;
  height: 792px;
}

.mp-plank1 {
  top: 38px;
  left: 435px;
  width: 647px;
  height: 647px;
  background-image: url("../images/mp_plank1.png");
  -webkit-animation: cricleMp 20s linear infinite;
  -moz-animation: cricleMp 20s linear infinite;
  -ms-animation: cricleMp 20s linear infinite;
  -o-animation: cricleMp 20s linear infinite;
  animation: cricleMp 20s linear infinite;
}

@-webkit-keyframes cricleMp {
  to {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes cricleMp {
  to {
    -moz-transform: rotate(-360deg);
  }
}

@-ms-keyframes cricleMp {
  to {
    -ms-transform: rotate(-360deg);
  }
}

@-o-keyframes cricleMp {
  to {
    -o-transform: rotate(-360deg);
  }
}

@keyframes cricleMp {
  to {
    transform: rotate(-360deg);
  }
}

.mp-plank2 {
  top: 98px;
  left: 493px;
  width: 532px;
  height: 532px;
  background-image: url("../images/mp_plank2.png");
  -webkit-animation: scaleMp 6s ease infinite;
  -moz-animation: scaleMp 6s ease infinite;
  -ms-animation: scaleMp 6s ease infinite;
  -o-animation: scaleMp 6s ease infinite;
  animation: scaleMp 6s ease infinite;
}

@keyframes scaleMp {
  0%,
  100% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1);
  }
}

@-webkit-keyframes scaleMp {
  0%,
  100% {
    -webkit-transform: scale(0.98);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes scaleMp {
  0%,
  100% {
    -moz-transform: scale(0.98);
  }
  50% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes scaleMp {
  0%,
  100% {
    -o-transform: scale(0.98);
  }
  50% {
    -o-transform: scale(1);
  }
}

@keyframes scaleMp {
  0%,
  100% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1);
  }
}

.sx-plank-list .sx-plank-item {
  display: none;
}

.sx-plank-list .sx-plank-item.item-1 .sx-icon {
  top: -3px;
  left: 922px;
  width: 301px;
}

.sx-plank-list .sx-plank-item.item-2 .sx-icon {
  top: -3px;
  left: 922px;
  width: 304px;
}

.sx-plank-list .sx-plank-item.item-3 .sx-icon {
  top: -3px;
  left: 922px;
  width: 314px;
}

.sx-plank-list .sx-plank-item.item-4 .sx-icon {
  top: -3px;
  left: 922px;
  width: 298px;
}

.sx-plank-list .sx-plank-item.item-5 .sx-icon {
  top: -3px;
  left: 922px;
  width: 295px;
}

.mp-select-list {
  top: 272px;
  left: 950px;
}

.mp-select-list-large {
  top: 232px;
}

.mp-select-list a {
  margin-bottom: 31px;
  padding-left: 82px;
  box-sizing: border-box;
  width: 157px;
  height: 41px;
  background-position: 0 -246px;
  overflow: hidden;
  cursor: pointer;
}

.mp-select-list .mp-icons-large {
  padding-left: 64px;
}

.mp-select-list a span {
  margin-top: 7px;
  width: 45px;
  height: 26px;
  opacity: 0.7;
}

.mp-select-list .mp-icons-large span {
  width: 75px;
}

.mp-select-list a.active {
  margin-left: 34px;
  padding-left: 66px;
  background-position: 0 -293px;
}

.mp-select-list .mp-icons-large.active {
  padding-left: 47px;
}

.mp-select-list a span.mp-1-1 {
  background-position: -162px -246px;
}

.mp-select-list a span.mp-1-2 {
  background-position: -212px -246px;
}

.mp-select-list a span.mp-1-3 {
  background-position: -262px -246px;
}

.mp-select-list a span.mp-2-1 {
  background-position: -310px -246px;
}

.mp-select-list a span.mp-2-2 {
  background-position: -359px -246px;
}

.mp-select-list a span.mp-2-3 {
  background-position: -412px -246px;
}

.mp-select-list a span.mp-3-1 {
  background-position: -462px -246px;
}

.mp-select-list a span.mp-3-2 {
  background-position: -511px -246px;
}

.mp-select-list a span.mp-3-3 {
  background-position: -563px -246px;
}

.mp-select-list a span.mp-4-1 {
  background-position: -613px -246px;
}

.mp-select-list a span.mp-4-2 {
  background-position: -662px -246px;
}

.mp-select-list a span.mp-4-3 {
  background-position: -710px -246px;
}

.mp-select-list a span.mp-4-4 {
  background-position: -762px -246px;
}

.mp-select-list a span.mp-5-1 {
  background-position: -962px -246px;
}

.mp-select-list a span.mp-5-2 {
  background-position: -814px -246px;
}

.mp-select-list a span.mp-5-3 {
  background-position: -864px -246px;
}

.mp-select-list a span.mp-5-4 {
  background-position: -912px -246px;
}

.mp-list .mp-item {
  display: none;
}

.mp-item .person-img {
  pointer-events: none;
}

.mp-item.mp-1-1 .person-img {
  top: 108px;
  left: 409px;
  width: 685px;
}

.mp-item.mp-1-2 .person-img {
  top: 50px;
  left: 500px;
  width: 552px;
}

.mp-item.mp-1-3 .person-img {
  top: 10px;
  left: 415px;
  width: 711px;
}

.mp-item.mp-2-1 .person-img {
  top: 10px;
  left: 440px;
  width: 616px;
}

.mp-item.mp-2-2 .person-img {
  /*top: 40px;*/
  /*left: 471px;*/
  /*width: 555px;*/
  top: 44px;
  left: 417px;
  width: 593px;
  height: 652px;
}

.mp-item.mp-2-3 .person-img {
  /*top: 51px;*/
  /*left: 479px;*/
  /*width: 562px;*/
  top: 28px;
  left: 437px;
  width: 574px;
  height: 706px;
}

.mp-item.mp-3-1 .person-img {
  /*top: 29px;*/
  /*left: 409px;*/
  /*width: 586px;*/
  top: -20px;
  left: 371px;
  width: 835px;
  height: 652px;
}

.mp-item.mp-3-2 .person-img {
  top: 166px;
  left: 420px;
  width: 636px;
}

.mp-item.mp-3-3 .person-img {
  /*top: 64px;*/
  left: 410px;
  width: 615px;
  height: 728px;
  /*width: 597px;*/
}

.mp-item.mp-4-1 .person-img {
  /*top: 37px;*/
  /*left: 364px;*/
  /*width: 642px;*/
  top: 25px;
  left: 416px;
  width: 783px;
  height: 604px;
}

.mp-item.mp-4-2 .person-img {
  top: 42px;
  left: 486px;
  width: 533px;
}

.mp-item.mp-4-3 .person-img {
  top: 112px;
  left: 475px;
  width: 571px;
}

.mp-item.mp-4-4 .person-img {
  /*top: 0px;*/
  /*left: 384px;*/
  /*width: 640px;*/
  top: -80px;
  left: 469px;
  width: 548px;
  height: 811px;
}

.mp-item.mp-5-1 .person-img {
  top: 56px;
  left: 407px;
  width: 624px;
}

.mp-item.mp-5-2 .person-img {
  top: 50px;
  left: 336px;
  width: 708px;
}

.mp-item.mp-5-3 .person-img {
  top: 65px;
  left: 433px;
  width: 503px;
}

.mp-item.mp-5-4 .person-img {
  top: 65px;
  left: 433px;
  width: 569px;
}

.mp-ms-plank {
  top: 79px;
  left: 181px;
  width: 241px;
  height: 608px;
  background-image: url("../images/mp_desc_bg.png");
}

.mp-title {
  top: 46px;
  right: 46px;
  width: 20px;
  line-height: 24px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  writing-mode: tb-rl;
  letter-spacing: 2px;
}

.mp-desc {
  top: 46px;
  right: 82px;
}

.mp-desc p {
  float: right;
  margin: 0 0 0 14px;
  width: 14px;
  line-height: 15px;
  font-size: 14px;
  color: #dde4e7;
  writing-mode: tb-rl;
}

.name-icon {
  top: 118px;
  left: 386px;
  width: 65px;
  height: 166px;
}

.mp-item.mp-1-1 .name-icon {
  background-position: 0 -75px;
}

.mp-item.mp-1-2 .name-icon {
  background-position: -70px -75px;
}

.mp-item.mp-1-3 .name-icon {
  background-position: -140px -75px;
}

.mp-item.mp-2-1 .name-icon {
  background-position: -210px -75px;
}

.mp-item.mp-2-2 .name-icon {
  background-position: -280px -75px;
}

.mp-item.mp-2-3 .name-icon {
  background-position: -350px -75px;
}

.mp-item.mp-3-1 .name-icon {
  background-position: -420px -75px;
}

.mp-item.mp-3-2 .name-icon {
  background-position: -490px -75px;
}

.mp-item.mp-3-3 .name-icon {
  background-position: -560px -75px;
}

.mp-item.mp-4-1 .name-icon {
  background-position: -630px -75px;
}

.mp-item.mp-4-2 .name-icon {
  background-position: -700px -75px;
}

.mp-item.mp-4-3 .name-icon {
  background-position: -770px -75px;
}

.mp-item.mp-4-4 .name-icon {
  background-position: -840px -75px;
}

.mp-item.mp-5-1 .name-icon {
  background-position: -1120px -75px;
}

.mp-item.mp-5-2 .name-icon {
  background-position: -910px -75px;
}

.mp-item.mp-5-3 .name-icon {
  background-position: -980px -75px;
}

.mp-item.mp-5-4 .name-icon {
  background-position: -1050px -75px;
}

.sx-list {
  top: 100px;
  left: 50px;
  width: 104px;
}

.sx-list li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
  width: 105px;
  height: 105px;
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  cursor: pointer;
}

.sx-list li.active {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.sx-list li.item-1 {
  background-position: -163px -277px;
}

.sx-list li.item-2 {
  background-position: -273px -277px;
}

.sx-list li.item-3 {
  background-position: -383px -277px;
}

.sx-list li.item-4 {
  background-position: -493px -277px;
}

.sx-list li.item-5 {
  background-position: -603px -277px;
}

.sx-line {
  top: -40px;
  left: 50%;
  margin-left: -1px;
  width: 0px;
  height: calc(100% + 80px);
  border-right: 2px dashed #7e91a1;
  pointer-events: none;
}

.btn-prev,
.btn-next {
  top: 312px;
  width: 54px;
  height: 100px;
  cursor: pointer;
}

.btn-prev {
  left: -58px;
  background-position: -712px -280px;
}

.btn-next {
  right: -58px;
  background-position: -771px -280px;
}

/* part-4 */
.part-4 {
  /*height: 801px;*/
  height: 334px;
  /*background-image: url('../images/part_4_01.jpg');*/
  overflow: hidden;
}

.hd-ts {
  width: 777px;
  height: 415px;
}

.hd-ts .hd-list {
  margin-top: 12px;
}

.hd-ts .hd-list li {
  margin-right: 8px;
  width: 369px;
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
  overflow: hidden;
}

.hd-ts .hd-list li.item-2 {
  margin-right: 0;
}

.hd-ts .hd-item a {
  display: block;
}

.hd-sj {
  width: 410px;
  height: 477px;
}

.sj-list-container {
  margin-top: 18px;
  min-height: 100px;
}

.sj-img {
  display: block;
  width: 100%;
  height: 193px;
  overflow: hidden;
}

.sj-wrap-container {
  margin-left: -13px;
  padding: 0 13px;
  box-sizing: border-box;
  width: 410px;
  height: 152px;
  overflow: hidden;
  background-color: #fff;
}

.sj-wrap-container.on {
  height: 410px;
  overflow-y: auto;
}

.sj-wrap-container.on + .sj-more {
  display: none;
}

.sj-wrap-container .sj-item {
  /* margin-top: 4px; */
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  border-bottom: 1px solid #f0f1f3;
  cursor: pointer;
}

.sj-wrap-container .sj-item:last-child {
  border: none;
}

.sj-list .sj-item:first-child {
  border-top: 1px solid #f0f1f3;
}

.sj-item p {
  margin: 0;
  line-height: 38px;
  font-weight: bold;
  font-size: 14px;
  color: #758994;
}

.sj-item.active p {
  color: #dd201e;
}

.sj-item span {
  margin-left: 6px;
  line-height: 38px;
  font-size: 12px;
  color: #bababa;
}

.sj-icon {
  margin: 12px 4px 0 0;
  width: 13px;
  height: 13px;
  background-position: -60px -393px;
}

.sj-item.active .sj-icon {
  background-position: -78px -393px;
}

.sj-more {
  display: block;
  margin-top: 2px;
  width: 100%;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  background-image: url("../images/bb_more.png");
}

.sj-more i {
  margin: 11px auto 0;
  width: 31px;
  height: 19px;
  background-position: -60px -412px;
}

.sj-list {
  display: none;
  z-index: 9999;
  top: 345px;
  left: -13px;
  padding: 0 13px;
  box-sizing: border-box;
  width: 410px;
  max-height: 352px;
  /* border: 1px solid #c6cdd3; */
  background-color: #fff;
  overflow-y: auto;
}

.sj-wrap:hover + .sj-list,
.sj-list:hover {
  display: block;
}

.sj-item {
  border-bottom: 1px solid #f0f1f3;
  cursor: pointer;
  overflow: hidden;
}

.sj-list .sj-item:last-child {
  border-bottom: 0;
}

.hd-hzhb {
  width: 777px;
  height: 268px;
}

.hzhb-container {
  margin-top: 20px;
}

.hzhb-container .swiper-container {
  margin: 0 auto;
  width: 688px;
}

.yq-link-img {
  margin: 0 5px 5px;
  width: 162px;
  height: 70px;
}

.btn-link-prev,
.btn-link-next {
  top: 50px;
  z-index: 99;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.btn-link-prev {
  left: 0px;
  background-position: -145px -350px;
}

.btn-link-next {
  right: 0;
  background-position: -194px -350px;
}

.hd-lxkf {
  width: 410px;
  height: 268px;
}

.kf-container {
  margin-top: 13px;
}

.kf-item {
  margin-bottom: 9px;
  width: 385px;
  height: 66px;
  background-image: url("../images/kf_item.png");
  overflow: hidden;
}

.kf-item .kf-icon {
  margin: 11px 66px 0 38px;
  width: 48px;
  height: 43px;
}

.kf-item.kf-1 .kf-icon {
  background-position: -44px -350px;
}

.kf-item.kf-2 .kf-icon {
  background-position: -92px -350px;
}

.kf-item .title-text {
  margin: 0;
  line-height: 1;
  font-size: 20px;
  color: #52626c;
}

.kf-item .msg-text {
  margin: 6px 0 0;
  line-height: 1;
  font-size: 14px;
  color: #a3a3a3;
}

.kf-link {
  margin-top: 18px;
  width: 100%;
}

.kf-link a {
  display: inline-block;
  margin: 0 13px;
  line-height: 1;
  font-size: 14px;
  color: #a38e76;
}

.kf-link a:hover {
  text-decoration: underline;
}

.youxifenji-btn {
  position: absolute;
  width: 90px;
  top: 435px;
  left: 1462px;
}

.youxifenji-btn img {
  width: 100%;
}
